.app-container {
    min-height: 100vh;
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .content-wrapper {
    display: flex;
    flex: 1;
  }
  
  .main-content {
    flex: 1;
    padding: 1rem;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .main-content.sidenav-open {
    margin-left: 16rem;
  }